@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

* {
  outline: 1px solid blue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui {
  position: relative;
  z-index: 1;
}

.aframe-container {
  position: absolute;
  top: 0; left: 0;
}

.hamburger {
  margin: 20px;
  position: absolute;
  z-index: 10000;
  .line {
    width: 40px;
    height: 6px;
    background-color: #444;
    margin: 5px 0;
    transition: 0.4s;
  }
}

.hamburger.active {
  .one {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  .two {
    opacity: 0;
  }
  .three {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
}

.modal-content {
  p {
    max-width: 60vw;
    margin: 0 auto;
  }
}
