@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

* {
  // outline: 2px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui {
  position: relative;
  z-index: 1;
}

.aframe-container {
  position: absolute;
  top: 0; left: 0;
}
